<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" /><%- meta %>
<link href="//localhost:4000/app.css" rel="stylesheet"></head>
<body>
  <div id="app"><%- html %></div>
  <script>
    window.__initState__ = <%- reduxState %>
  </script>
<script type="text/javascript" src="//localhost:4000/app.bundle.js"></script><script type="text/javascript" src="//localhost:4000/vendors.bundle.js"></script></body>
</html>
