{
  "presets": ["react", "es2015", "stage-2"],
  "env": {
    "server": {
      "plugins": [
        "syntax-dynamic-import",
        "dynamic-import-node"
      ]
    },
    "client": {
      "plugins": [
        "dynamic-import-webpack"
      ]
    }
  }
}
